/*========== RESET ===========*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/*========== PRODUCT REGISTER ===========*/

#product-register {  
    width: 35rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0.60rem;
    margin: 3rem auto;
    padding: 2rem;
}

#product-register input {
    padding: 10px;
    margin-left: 10px;
    border: 1px rgb(163, 163, 163) solid;
    border-radius: 0.30rem;
    height: 2rem;
    width: 25rem;
}

#product-register h3 {
        display: flex;
        margin-left: 2.15rem;
        margin-bottom: 1.2rem;
}

#product-register button {
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    width: 8rem;
    margin: 0.5rem auto;
    background-color: rgb(85, 34, 214);
    color: aliceblue;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 6px 0px;
    transition: background 0.4s;
}

#product-register button:hover {
    background-color: rgb(127,36,255);
}

.icon {
    margin: 2rem;
    display: flex;
    align-items: center;
}


/*========== MAIN FRAME ===========*/

#search-box {
    display: flex;
    margin: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 8px 0px;
    padding: 2rem;
    background-color: rgb(51,0,180);
    justify-content: center;
}

#search-box input {
    width: 60vw;
    padding: 0.70rem;
    margin-right: 3rem;
    border-radius: 1.5rem;
    border: 2px solid rgb(39, 21, 121);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}


/*========== PRODUCTS TABLE ===========*/

table {
    border-collapse: collapse;
    margin: 7rem auto;
    padding: 3rem;
    background-color: rgb(255, 255, 255);
}

thead {

    border: 1px solid rgb(240, 240, 240);
    background-color: rgb(250, 250, 250);
}

th  {

    padding: 0.5rem 4rem 1rem 1rem;
}

tr {

    margin: 3rem;
    border-bottom: 1px solid rgb(240, 240, 240);
}

table button {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin: 1rem 0.5rem 1rem 1.5rem;
    border-radius: 1.5rem;

}

#edit-button {
    border: 2px solid  rgb(85, 34, 214);
    color: rgb(85, 34, 214);
    transition: background 0.4s;
}

#edit-button:hover {
    background-color: rgb(226, 211, 255);
}

#remove-button {
    border: 2px solid  rgba(255,42,48,255);
    color: rgba(255,42,48,255);
    transition: background 0.4s;
}

#remove-button:hover {
    background-color: rgb(255, 230, 231);
}


.footer button{
    margin: 0 auto;
    color: rgb(255, 255, 255);
    background-color: rgb(85, 34, 214);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 1.5rem;
    border: none;
    transition: background 0.4s;
}

.footer button:hover {
    background-color: rgb(127,36,255);

}

::-webkit-scrollbar {
    width: 0.40rem;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(218, 216, 255)
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(94, 94, 239);
  }